.chapterNav {
    color: var(--yellow);
    font-weight: var(--bold);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 1em;
    font-size: var();
}

.chapterNav:hover {
    color: black;
}

.selectedChap {
    color: black;
    font-weight: var(--bold);
    text-decoration: none;
}

.stickyNav {
    background-image: linear-gradient(rgba(235, 180, 1, 1), rgba(235, 180, 1, 0));
    // background-image: linear-gradient(black, grey);
    position: fixed;
    z-index: 6;
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    // transition: ease 2s;
    // &--scrolled {
    //   height: 5vh;
    // }
}