.chapterNav {
    color: var(--yellow);
    font-weight: var(--bold);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 1em;
    font-size: var();
}

.chapterNav:hover {
    color: black;
}

.selectedChap {
    color: black;
    font-weight: var(--bold);
    text-decoration: none;
}