s .cls-1 {
    fill: none;
  }

  .cls-3 {
    fill: #fff;
  }

  .cls-4 {
    fill: #131312;
  }

  .cls-5 {
    fill: #8a8f87;
  }

  .cls-6 {
    fill: #76736a;
  }

  .cls-7 {
    fill: #39312e;
  }

  .cls-8 {
    fill: #605955;
  }

  .cls-9 {
    fill: #4e4240;
  }

  .cls-10 {
    fill: #c0b6b2;
  }

  .cls-11 {
    fill: #dad8d0;
  }

  .cls-12 {
    fill: #e8c7bc;
  }

  .cls-13 {
    fill: #722721;
  }

  .cls-14 {
    fill: #222421;
  }

  .cls-15 {
    fill: #c79985;
  }

  .cls-16 {
    fill: #f6fbfb;
  }

  .cls-17 {
    fill: #008366;
  }

  .cls-18 {
    fill: #966256;
  }

  .cls-19 {
    fill: #c7c4b3;
  }

  .cls-20 {
    fill: #caa7a2;
  }

  .cls-21 {
    fill: #b3897c;
  }

  .cls-22 {
    fill: #d17644;
  }

  .cls-23 {
    fill: #e0dfd5;
  }

  .cls-24 {
    fill: #534b47;
  }

  .cls-25 {
    fill: #747069;
  }

  .cls-26 {
    fill: #a3a29b;
  }

  .cls-27 {
    fill: #cecabe;
  }

  .cls-28 {
    fill: #19181b;
  }

  .cls-29 {
    fill: #d2d1c5;
  }

  .cls-30 {
    fill: #9e9d97;
  }

  .cls-31 {
    fill: #e4e0d8;
  }

  .cls-32 {
    fill: #28282a;
  }

  .cls-33 {
    fill: #0e0f12;
  }

  .cls-34 {
    fill: #908b81;
  }

  .cls-35 {
    fill: #7d7874;
  }

  .cls-36 {
    fill: #e6e3da;
  }

  .cls-37 {
    fill: #98968f;
  }

  .cls-38 {
    fill: #8c867d;
  }

  .cls-39 {
    fill: #847f78;
  }

  .cls-40 {
    fill: #94918a;
  }

  .cls-41 {
    fill: #050708;
  }

  .cls-42 {
    fill: #4d91b6;
  }

  .cls-43 {
    fill: #76675d;
  }

  .cls-44 {
    fill: #55413a;
  }

  .cls-45 {
    fill: #38201a;
  }

  .cls-46 {
    fill: #685247;
  }

  .cls-47 {
    fill: #83604c;
  }

  .cls-48 {
    fill: #8b705e;
  }

  .cls-49 {
    fill: #a09082;
  }

  .cls-50 {
    fill: #907d72;
  }

  .cls-51 {
    fill: #b5a093;
  }