.chapterTitle1 {
    font-size: var(--title-size);
    font-weight: var(--bold);
}

.chapterText1 {
    font-size: var(--demisub-size);
    font-weight: var(--demi-bold);
}

.chapterTitle {
    font-size: var(--subtitle-size);
    font-weight: var(--demi-bold);
}

.chapterPage {
    height: 97vh;
}

.chapText, .chapImage {
    height: 150vh;
}



.chapterTextContainer, .chapterImageContainer  {
    height: 100vh;
    margin: 0;
    padding: 0;
}
