@media only screen 
and (min-width: 668px) 
and (max-width: 812px) { 
 
  :root {
    --title-size: 3.2em;
    --subtitle-size: 1.6em;
    --demisub-size: 1.2em;
    --body-size: .9em;
    --bold: 700;
    --demi-bold: 600;
    --reg: 500;
    --yellow: #F6D200;
    }

  .lText {
    padding-left: 1em;
  }
  
  .introP {
      font-size: .98em;
  }

  .subTitle{
    --subtitle-size: 1.25em;
  }
  
  .scroll {
      font-size: .9em;
  }

  .homeChapterLinks {
    padding: 1.5em 0em;
  }
  
   /* Image Styling */
   #homeCity {
    width: 100%;
    /* position: absolute; */
  }

  .mainText {
    position: absolute;
    z-index: 2;
    padding: 0em 16em 0em 2em;
  }

  .chapterList {
    padding: 0em 3em 0em 25em;
    z-index: 3;
  }

  .homeBackground1 {
    background-color: rgba(	235,  180, 1, 0.82)
  }
  
}