.imagePin_limb3 {
    position: relative;
    height: 450vh;
}
.lLast{
    height: 250vh;
}

#limbBody1 {
    position: absolute;
    width: 95%;
    height: auto;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

#limbBody23 {
    position: absolute;
    width: 95%;
    height: auto; 
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

#limbBody4 {
    width: 90%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

#lp41, #lp42 {
    opacity: 0;
}

#limbBody56 {
    width: 90%;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

.lp2, .lp3, #body-leg {
    opacity: 0;
}

#blur-sides, #blur-body {
    opacity: 0;
}

#lp61, #lp62, #lp63 {
    opacity: 0;
}

