
      .clss-1 {
        fill: none;
      }

      .clss-2 {
        fill: #7f7961;
      }

      .clss-106, .clss-127, .clss-128, .clss-130, .clss-2, .clss-4, .clss-42, .clss-5 {
        opacity: 0;
      }

      .clss-3 {
        fill: #908f7e;
      }

      .clss-100, .clss-101, .clss-108, .clss-187, .clss-188, .clss-201, .clss-205, .clss-206, .clss-213, .clss-244, .clss-298, .clss-3, .clss-342, .clss-355, .clss-375, .clss-400, .clss-411, .clss-444, .clss-45, .clss-465, .clss-47, .clss-476, .clss-484, .clss-485, .clss-486, .clss-487, .clss-492, .clss-507, .clss-515, .clss-530, .clss-57, .clss-60, .clss-61, .clss-73, .clss-74, .clss-83, .clss-88 {
        opacity: 0.1;
      }

      .clss-4 {
        fill: #838167;
      }

      .clss-5, .clss-72 {
        fill: #79745e;
      }

      .clss-6 {
        fill: #817067;
      }

      .clss-10, .clss-103, .clss-104, .clss-111, .clss-112, .clss-114, .clss-115, .clss-116, .clss-129, .clss-14, .clss-143, .clss-151, .clss-152, .clss-248, .clss-254, .clss-267, .clss-268, .clss-343, .clss-344, .clss-353, .clss-354, .clss-401, .clss-402, .clss-410, .clss-438, .clss-443, .clss-462, .clss-6, .clss-7, .clss-95, .clss-96, .clss-97 {
        opacity: 0.2;
      }

      .clss-7, .clss-70 {
        fill: #767361;
      }

      .clss-8 {
        fill: #bab7a8;
      }

      .clss-102, .clss-105, .clss-107, .clss-109, .clss-11, .clss-110, .clss-113, .clss-12, .clss-120, .clss-121, .clss-125, .clss-126, .clss-13, .clss-132, .clss-133, .clss-134, .clss-135, .clss-136, .clss-140, .clss-141, .clss-142, .clss-144, .clss-145, .clss-15, .clss-159, .clss-16, .clss-160, .clss-162, .clss-163, .clss-164, .clss-168, .clss-169, .clss-174, .clss-176, .clss-18, .clss-180, .clss-184, .clss-185, .clss-186, .clss-189, .clss-19, .clss-190, .clss-191, .clss-192, .clss-193, .clss-195, .clss-196, .clss-197, .clss-198, .clss-200, .clss-202, .clss-207, .clss-208, .clss-209, .clss-21, .clss-210, .clss-214, .clss-227, .clss-228, .clss-233, .clss-234, .clss-235, .clss-239, .clss-242, .clss-243, .clss-246, .clss-247, .clss-249, .clss-250, .clss-251, .clss-252, .clss-253, .clss-258, .clss-259, .clss-260, .clss-261, .clss-262, .clss-263, .clss-265, .clss-266, .clss-269, .clss-270, .clss-272, .clss-274, .clss-275, .clss-276, .clss-277, .clss-279, .clss-280, .clss-283, .clss-284, .clss-289, .clss-290, .clss-297, .clss-300, .clss-301, .clss-302, .clss-303, .clss-304, .clss-305, .clss-306, .clss-307, .clss-310, .clss-311, .clss-312, .clss-313, .clss-314, .clss-315, .clss-329, .clss-330, .clss-331, .clss-335, .clss-336, .clss-34, .clss-340, .clss-341, .clss-345, .clss-348, .clss-349, .clss-35, .clss-350, .clss-352, .clss-358, .clss-360, .clss-361, .clss-362, .clss-363, .clss-364, .clss-37, .clss-372, .clss-377, .clss-378, .clss-379, .clss-38, .clss-380, .clss-381, .clss-382, .clss-383, .clss-39, .clss-390, .clss-391, .clss-392, .clss-397, .clss-40, .clss-405, .clss-407, .clss-409, .clss-415, .clss-425, .clss-426, .clss-427, .clss-428, .clss-429, .clss-43, .clss-433, .clss-439, .clss-44, .clss-441, .clss-442, .clss-453, .clss-457, .clss-459, .clss-46, .clss-460, .clss-461, .clss-467, .clss-468, .clss-472, .clss-477, .clss-48, .clss-482, .clss-490, .clss-50, .clss-501, .clss-51, .clss-518, .clss-519, .clss-52, .clss-523, .clss-53, .clss-535, .clss-54, .clss-55, .clss-56, .clss-58, .clss-589, .clss-59, .clss-591, .clss-594, .clss-600, .clss-62, .clss-63, .clss-64, .clss-642, .clss-643, .clss-65, .clss-66, .clss-681, .clss-685, .clss-690, .clss-691, .clss-70, .clss-71, .clss-72, .clss-744, .clss-76, .clss-780, .clss-79, .clss-793, .clss-794, .clss-8, .clss-834, .clss-835, .clss-84, .clss-871, .clss-872, .clss-9, .clss-91, .clss-92, .clss-925, .clss-926, .clss-942, .clss-967, .clss-978, .clss-992 {
        opacity: 0.5;
      }

      .clss-167, .clss-9 {
        fill: #bcb4a3;
      }

      .clss-10, .clss-124 {
        fill: #b5afa0;
      }

      .clss-11 {
        fill: #bebbaa;
      }

      .clss-12, .clss-204 {
        fill: #b5ada0;
      }

      .clss-13 {
        fill: #b8b4a5;
      }

      .clss-113, .clss-14, .clss-165 {
        fill: #b3ad9c;
      }

      .clss-15, .clss-487 {
        fill: #d5d2c7;
      }

      .clss-16, .clss-488 {
        fill: #cfcac0;
      }

      .clss-17, .clss-19 {
        fill: #c5bdb0;
      }

      .clss-122, .clss-131, .clss-17, .clss-173, .clss-175, .clss-177, .clss-179, .clss-212, .clss-229, .clss-230, .clss-232, .clss-264, .clss-28, .clss-29, .clss-291, .clss-296, .clss-299, .clss-33, .clss-351, .clss-376, .clss-406, .clss-408, .clss-423, .clss-424, .clss-440, .clss-449, .clss-450, .clss-458, .clss-466, .clss-471, .clss-474, .clss-475, .clss-480, .clss-489, .clss-49, .clss-491, .clss-494, .clss-495, .clss-505, .clss-517, .clss-522, .clss-524, .clss-525, .clss-526, .clss-537, .clss-540, .clss-565, .clss-592, .clss-641, .clss-67, .clss-68, .clss-69, .clss-692, .clss-695, .clss-743, .clss-795, .clss-796, .clss-798, .clss-81, .clss-82, .clss-85, .clss-86, .clss-87, .clss-874, .clss-89, .clss-896, .clss-927 {
        opacity: 0.3;
      }

      .clss-18, .clss-489 {
        fill: #cac1b4;
      }

      .clss-20 {
        fill: #d4cdc3;
      }

      .clss-21 {
        fill: #ccc5ba;
      }

      .clss-22 {
        fill: #c9c9c2;
      }

      .clss-23 {
        fill: #cac6ba;
      }

      .clss-24 {
        fill: #c2beb2;
      }

      .clss-176, .clss-177, .clss-25 {
        fill: #bcb7aa;
      }

      .clss-26 {
        fill: #c5b5ae;
      }

      .clss-27 {
        fill: #c3beb1;
      }

      .clss-28 {
        fill: #bebeb0;
      }

      .clss-29, .clss-35 {
        fill: #bab8a9;
      }

      .clss-30 {
        fill: #b4aea0;
      }

      .clss-31 {
        fill: #b4aca3;
      }

      .clss-32 {
        fill: #c0a3a3;
      }

      .clss-33, .clss-34 {
        fill: #b8b6a8;
      }

      .clss-36, .clss-37 {
        fill: #c1c0b4;
      }

      .clss-38 {
        fill: #aba99a;
      }

      .clss-39 {
        fill: #b5b3a2;
      }

      .clss-203, .clss-40 {
        fill: #aca999;
      }

      .clss-41 {
        fill: #b5ac9a;
      }

      .clss-42 {
        fill: #ccc7b9;
      }

      .clss-43 {
        fill: #9e9d8b;
      }

      .clss-44 {
        fill: #a19d90;
      }

      .clss-209, .clss-45 {
        fill: #979280;
      }

      .clss-46 {
        fill: #999586;
      }

      .clss-47 {
        fill: #9c9a89;
      }

      .clss-48 {
        fill: #92907e;
      }

      .clss-297, .clss-49 {
        fill: #8a886f;
      }

      .clss-50 {
        fill: #94937f;
      }

      .clss-51 {
        fill: #95907d;
      }

      .clss-52 {
        fill: #868474;
      }

      .clss-53 {
        fill: #8e8e76;
      }

      .clss-54 {
        fill: #918c76;
      }

      .clss-55 {
        fill: #89866f;
      }

      .clss-56 {
        fill: #8d826f;
      }

      .clss-57 {
        fill: #a9a594;
      }

      .clss-58 {
        fill: #9a9c91;
      }

      .clss-59, .clss-60 {
        fill: #9d9b8c;
      }

      .clss-61 {
        fill: #918e7f;
      }

      .clss-62 {
        fill: #8d8a78;
      }

      .clss-63 {
        fill: #928f7b;
      }

      .clss-64 {
        fill: #847f70;
      }

      .clss-65 {
        fill: #848377;
      }

      .clss-66 {
        fill: #837e65;
      }

      .clss-67, .clss-71 {
        fill: #878067;
      }

      .clss-68 {
        fill: #887b61;
      }

      .clss-69 {
        fill: #807664;
      }

      .clss-73 {
        fill: #959283;
      }

      .clss-219, .clss-74 {
        fill: #9a9885;
      }

      .clss-75 {
        fill: #979266;
      }

      .clss-76 {
        fill: #828174;
      }

      .clss-77 {
        fill: #9b9469;
      }

      .clss-78 {
        fill: #838376;
      }

      .clss-79 {
        fill: #948473;
      }

      .clss-80 {
        fill: #9c9576;
      }

      .clss-81 {
        fill: #8a8470;
      }

      .clss-82 {
        fill: #817f6b;
      }

      .clss-83 {
        fill: #858a81;
      }

      .clss-84 {
        fill: #848374;
      }

      .clss-85 {
        fill: #79827a;
      }

      .clss-210, .clss-211, .clss-86 {
        fill: #8c8a7a;
      }

      .clss-87 {
        fill: #989785;
      }

      .clss-88 {
        fill: #99947e;
      }

      .clss-242, .clss-89 {
        fill: #8c8b77;
      }

      .clss-90 {
        fill: #99988c;
      }

      .clss-91 {
        fill: #898a7f;
      }

      .clss-92 {
        fill: #8d8c77;
      }

      .clss-93 {
        fill: #818f83;
      }

      .clss-145, .clss-94 {
        fill: #81816c;
      }

      .clss-95 {
        fill: #aba491;
      }

      .clss-96 {
        fill: #a6a394;
      }

      .clss-97 {
        fill: #99947f;
      }

      .clss-114, .clss-98 {
        fill: #a9a18a;
      }

      .clss-99 {
        fill: #aca18c;
      }

      .clss-100 {
        fill: #d0cdc2;
      }

      .clss-101, .clss-245 {
        fill: #d0ccbf;
      }

      .clss-102 {
        fill: #d0cabd;
      }

      .clss-103 {
        fill: #716e57;
      }

      .clss-104, .clss-272 {
        fill: #72655b;
      }

      .clss-105 {
        fill: #afad9e;
      }

      .clss-106 {
        fill: #a9a496;
      }

      .clss-107, .clss-111 {
        fill: #b2ab9b;
      }

      .clss-108 {
        fill: #a09f91;
      }

      .clss-109 {
        fill: #a19f90;
      }

      .clss-110, .clss-112, .clss-117 {
        fill: #afa696;
      }

      .clss-115, .clss-119 {
        fill: #b3ac9a;
      }

      .clss-116 {
        fill: #ada692;
      }

      .clss-118 {
        fill: #a79c8a;
      }

      .clss-120 {
        fill: #7f837f;
      }

      .clss-121 {
        fill: #9d9b8f;
      }

      .clss-122 {
        fill: #89856c;
      }

      .clss-123 {
        fill: #bbb09f;
      }

      .clss-125 {
        fill: #b1b5a6;
      }

      .clss-126 {
        fill: #96968c;
      }

      .clss-127, .clss-642, .clss-644 {
        fill: #afaa9d;
      }

      .clss-128, .clss-132 {
        fill: #aca99c;
      }

      .clss-129, .clss-269 {
        fill: #a2aa9b;
      }

      .clss-130, .clss-131, .clss-265 {
        fill: #ada99c;
      }

      .clss-133 {
        fill: #abaca6;
      }

      .clss-134 {
        fill: #979485;
      }

      .clss-135 {
        fill: #8c8b7e;
      }

      .clss-136 {
        fill: #afaa9c;
      }

      .clss-137 {
        fill: #728b83;
      }

      .clss-138 {
        fill: #6c736e;
      }

      .clss-139 {
        fill: #8c7c74;
      }

      .clss-140 {
        fill: #7b615d;
      }

      .clss-141 {
        fill: #585b44;
      }

      .clss-142 {
        fill: #705c62;
      }

      .clss-143 {
        fill: #7b6c69;
      }

      .clss-144, .clss-158 {
        fill: #676d5b;
      }

      .clss-146 {
        fill: #a0948d;
      }

      .clss-147 {
        fill: #9c8582;
      }

      .clss-148, .clss-262 {
        fill: #989586;
      }

      .clss-149 {
        fill: #7e7876;
      }

      .clss-150 {
        fill: #6e5c5c;
      }

      .clss-151 {
        fill: #897f74;
      }

      .clss-152 {
        fill: #9c9096;
      }

      .clss-153 {
        fill: #826865;
      }

      .clss-154 {
        fill: #515e84;
      }

      .clss-155 {
        fill: #606a8d;
      }

      .clss-156 {
        fill: #696767;
      }

      .clss-157 {
        fill: #5c5e45;
      }

      .clss-159 {
        fill: #642f3b;
      }

      .clss-160 {
        fill: #4f3a38;
      }

      .clss-161 {
        fill: #805156;
      }

      .clss-162 {
        fill: #c2bfaf;
      }

      .clss-163 {
        fill: #beb9ab;
      }

      .clss-164 {
        fill: #c0bba8;
      }

      .clss-166 {
        fill: #b3afa3;
      }

      .clss-168 {
        fill: #c0b7aa;
      }

      .clss-169 {
        fill: #c2b7a8;
      }

      .clss-170 {
        fill: #d8d1c7;
      }

      .clss-171 {
        fill: #d2cabf;
      }

      .clss-172 {
        fill: #b5aba3;
      }

      .clss-173, .clss-174 {
        fill: #b2b0a3;
      }

      .clss-175 {
        fill: #c3c1b0;
      }

      .clss-178 {
        fill: #aeafa9;
      }

      .clss-179, .clss-180 {
        fill: #b8b5a8;
      }

      .clss-181 {
        fill: #ab9c96;
      }

      .clss-182 {
        fill: #b79297;
      }

      .clss-183 {
        fill: #aa9f95;
      }

      .clss-184 {
        fill: #a3a091;
      }

      .clss-185 {
        fill: #aba69b;
      }

      .clss-186 {
        fill: #a09e8b;
      }

      .clss-187, .clss-189 {
        fill: #8e8870;
      }

      .clss-188 {
        fill: #8a836a;
      }

      .clss-190 {
        fill: #948e77;
      }

      .clss-191 {
        fill: #999780;
      }

      .clss-192 {
        fill: #9c9788;
      }

      .clss-193 {
        fill: #979684;
      }

      .clss-194 {
        fill: #9b957a;
      }

      .clss-195, .clss-485 {
        fill: #8d8b7c;
      }

      .clss-196 {
        fill: #7b7b6b;
      }

      .clss-197 {
        fill: #8e6f59;
      }

      .clss-198 {
        fill: #7f7d64;
      }

      .clss-199 {
        fill: #a5a196;
      }

      .clss-200 {
        fill: #a1a195;
      }

      .clss-201, .clss-202, .clss-514 {
        fill: #a19d8f;
      }

      .clss-205 {
        fill: #afad9b;
      }

      .clss-206 {
        fill: #9c9a86;
      }

      .clss-207 {
        fill: #949589;
      }

      .clss-208 {
        fill: #929183;
      }

      .clss-212 {
        fill: #8b8167;
      }

      .clss-213 {
        fill: #9e9d8d;
      }

      .clss-214, .clss-215 {
        fill: #cbc5b7;
      }

      .clss-216 {
        fill: #a19e90;
      }

      .clss-217 {
        fill: #a4a294;
      }

      .clss-218 {
        fill: #9aa09a;
      }

      .clss-220 {
        fill: #857e50;
      }

      .clss-221 {
        fill: #8c8977;
      }

      .clss-222 {
        fill: #948e6f;
      }

      .clss-223 {
        fill: #878365;
      }

      .clss-224 {
        fill: #978d47;
      }

      .clss-225 {
        fill: #a19757;
      }

      .clss-226 {
        fill: #948d55;
      }

      .clss-227 {
        fill: #9f775d;
      }

      .clss-228 {
        fill: #787662;
      }

      .clss-229 {
        fill: #6c776c;
      }

      .clss-230 {
        fill: #9e9c89;
      }

      .clss-231, .clss-331 {
        fill: #a19e8e;
      }

      .clss-232 {
        fill: #8a8a73;
      }

      .clss-233 {
        fill: #8e8a6e;
      }

      .clss-234 {
        fill: #979681;
      }

      .clss-235 {
        fill: #a19c88;
      }

      .clss-236 {
        fill: #989386;
      }

      .clss-237 {
        fill: #8a8884;
      }

      .clss-238 {
        fill: #908c76;
      }

      .clss-239 {
        fill: #828376;
      }

      .clss-240 {
        fill: #a6a293;
      }

      .clss-241 {
        fill: #a09c8b;
      }

      .clss-243 {
        fill: #aea893;
      }

      .clss-244 {
        fill: #d4d0c4;
      }

      .clss-246 {
        fill: #d3d0c3;
      }

      .clss-247 {
        fill: #58594d;
      }

      .clss-248 {
        fill: #655e4b;
      }

      .clss-249 {
        fill: #724f50;
      }

      .clss-250 {
        fill: #a1a29e;
      }

      .clss-251 {
        fill: #aea699;
      }

      .clss-252 {
        fill: #969689;
      }

      .clss-253 {
        fill: #b9b3a2;
      }

      .clss-254 {
        fill: #a2997c;
      }

      .clss-255 {
        fill: #9f928c;
      }

      .clss-256 {
        fill: #9d927a;
      }

      .clss-257 {
        fill: #b5ac9d;
      }

      .clss-258 {
        fill: #757a75;
      }

      .clss-259 {
        fill: #72735c;
      }

      .clss-260 {
        fill: #b3b0a3;
      }

      .clss-261, .clss-332 {
        fill: #8a8b81;
      }

      .clss-263 {
        fill: #b3afa1;
      }

      .clss-264, .clss-350 {
        fill: #a6a598;
      }

      .clss-266 {
        fill: #a6a497;
      }

      .clss-267 {
        fill: #929d8e;
      }

      .clss-268 {
        fill: #9ea294;
      }

      .clss-270, .clss-271 {
        fill: #938c7d;
      }

      .clss-273 {
        fill: #7c7585;
      }

      .clss-274, .clss-356 {
        fill: #8f866d;
      }

      .clss-275, .clss-359 {
        fill: #807e6d;
      }

      .clss-276 {
        fill: #847f6c;
      }

      .clss-277 {
        fill: #797a74;
      }

      .clss-278, .clss-600 {
        fill: #8b856d;
      }

      .clss-279 {
        fill: #949180;
      }

      .clss-280 {
        fill: #948d76;
      }

      .clss-281 {
        fill: #444864;
      }

      .clss-282 {
        fill: #3e4a75;
      }

      .clss-283 {
        fill: #50242d;
      }

      .clss-284 {
        fill: #938f74;
      }

      .clss-285 {
        fill: #74665e;
      }

      .clss-286 {
        fill: #c3bcad;
      }

      .clss-287 {
        fill: #c4b8a9;
      }

      .clss-288 {
        fill: #ac9894;
      }

      .clss-289 {
        fill: #b09897;
      }

      .clss-290 {
        fill: #b5aba1;
      }

      .clss-291 {
        fill: #c7c6b8;
      }

      .clss-292 {
        fill: #a4a49b;
      }

      .clss-293 {
        fill: #ac848c;
      }

      .clss-294 {
        fill: #a08b89;
      }

      .clss-295 {
        fill: #a0928b;
      }

      .clss-296 {
        fill: #928d73;
      }

      .clss-298 {
        fill: #827c61;
      }

      .clss-299, .clss-300 {
        fill: #7f7c69;
      }

      .clss-301, .clss-309 {
        fill: #989683;
      }

      .clss-302 {
        fill: #a19a75;
      }

      .clss-303 {
        fill: #a39b63;
      }

      .clss-304 {
        fill: #878467;
      }

      .clss-305 {
        fill: #989169;
      }

      .clss-306 {
        fill: #9d9887;
      }

      .clss-307 {
        fill: #a29c8e;
      }

      .clss-308 {
        fill: #949385;
      }

      .clss-310 {
        fill: #706c59;
      }

      .clss-311 {
        fill: #76725b;
      }

      .clss-312 {
        fill: #6c664f;
      }

      .clss-313 {
        fill: #9d6d4f;
      }

      .clss-314 {
        fill: #b2b1a1;
      }

      .clss-315 {
        fill: #a5a494;
      }

      .clss-316 {
        fill: #a5a8a0;
      }

      .clss-317 {
        fill: #767565;
      }

      .clss-318 {
        fill: #6a6751;
      }

      .clss-319 {
        fill: #6f692f;
      }

      .clss-320 {
        fill: #90895e;
      }

      .clss-321 {
        fill: #807e69;
      }

      .clss-322 {
        fill: #969281;
      }

      .clss-323 {
        fill: #79765a;
      }

      .clss-324 {
        fill: #8a834e;
      }

      .clss-325 {
        fill: #787456;
      }

      .clss-326 {
        fill: #8a8034;
      }

      .clss-327 {
        fill: #958a34;
      }

      .clss-328 {
        fill: #7d763e;
      }

      .clss-329 {
        fill: #6d6d59;
      }

      .clss-330 {
        fill: #5f6454;
      }

      .clss-333, .clss-522 {
        fill: #989680;
      }

      .clss-334, .clss-391 {
        fill: #a9a290;
      }

      .clss-335 {
        fill: #858572;
      }

      .clss-336 {
        fill: #a8a08f;
      }

      .clss-337 {
        fill: #79797d;
      }

      .clss-338 {
        fill: #7d7b68;
      }

      .clss-339 {
        fill: #7d808b;
      }

      .clss-340 {
        fill: #aba797;
      }

      .clss-341 {
        fill: #a8a592;
      }

      .clss-342 {
        fill: #d4d2c4;
      }

      .clss-343 {
        fill: #5a513e;
      }

      .clss-344 {
        fill: #5c4c43;
      }

      .clss-345 {
        fill: #663e42;
      }

      .clss-346 {
        fill: #958786;
      }

      .clss-347 {
        fill: #938770;
      }

      .clss-348 {
        fill: #676c69;
      }

      .clss-349 {
        fill: #656753;
      }

      .clss-351 {
        fill: #908d81;
      }

      .clss-352 {
        fill: #a7898c;
      }

      .clss-353 {
        fill: #809686;
      }

      .clss-354 {
        fill: #7e8c7d;
      }

      .clss-355 {
        fill: #a47e81;
      }

      .clss-357 {
        fill: #97937c;
      }

      .clss-358, .clss-700 {
        fill: #807f6c;
      }

      .clss-360 {
        fill: #777666;
      }

      .clss-361 {
        fill: #787561;
      }

      .clss-362 {
        fill: #6a6b5f;
      }

      .clss-363 {
        fill: #9b9681;
      }

      .clss-364 {
        fill: #99947b;
      }

      .clss-365 {
        fill: #353d63;
      }

      .clss-366 {
        fill: #7f806f;
      }

      .clss-367 {
        fill: #626161;
      }

      .clss-368 {
        fill: #837e6e;
      }

      .clss-369 {
        fill: #c8c1b4;
      }

      .clss-370 {
        fill: #a58789;
      }

      .clss-371 {
        fill: #998a81;
      }

      .clss-372 {
        fill: #aa9f7e;
      }

      .clss-373 {
        fill: #9c7a7c;
      }

      .clss-374 {
        fill: #968686;
      }

      .clss-375 {
        fill: #797459;
      }

      .clss-376 {
        fill: #767262;
      }

      .clss-377, .clss-799 {
        fill: #a09c86;
      }

      .clss-378 {
        fill: #a89e4c;
      }

      .clss-379 {
        fill: #989055;
      }

      .clss-380 {
        fill: #908848;
      }

      .clss-381 {
        fill: #7f7b4e;
      }

      .clss-382 {
        fill: #66624f;
      }

      .clss-383 {
        fill: #605d46;
      }

      .clss-384 {
        fill: #5f5c35;
      }

      .clss-385 {
        fill: #8f8a79;
      }

      .clss-386 {
        fill: #7e7845;
      }

      .clss-387 {
        fill: #747253;
      }

      .clss-388 {
        fill: #6b6743;
      }

      .clss-389 {
        fill: #7b7222;
      }

      .clss-390 {
        fill: #a7a591;
      }

      .clss-392 {
        fill: #7c7d71;
      }

      .clss-393 {
        fill: #606275;
      }

      .clss-394 {
        fill: #6d7388;
      }

      .clss-395 {
        fill: #636458;
      }

      .clss-396 {
        fill: #6b6e74;
      }

      .clss-397 {
        fill: #aeac98;
      }

      .clss-398 {
        fill: #b4ae9d;
      }

      .clss-399 {
        fill: #b2ac9b;
      }

      .clss-400 {
        fill: #d7d5c8;
      }

      .clss-401 {
        fill: #4f3f34;
      }

      .clss-402 {
        fill: #593237;
      }

      .clss-403 {
        fill: #897a7c;
      }

      .clss-404 {
        fill: #80736b;
      }

      .clss-405 {
        fill: #585c4e;
      }

      .clss-406, .clss-461 {
        fill: #797268;
      }

      .clss-407 {
        fill: #9a757e;
      }

      .clss-408 {
        fill: #8a7f6b;
      }

      .clss-409 {
        fill: #9d9071;
      }

      .clss-410 {
        fill: #6e8877;
      }

      .clss-411 {
        fill: #967072;
      }

      .clss-412 {
        fill: #918e7c;
      }

      .clss-413 {
        fill: #7f7862;
      }

      .clss-414 {
        fill: #706d5d;
      }

      .clss-415 {
        fill: #606051;
      }

      .clss-416 {
        fill: #77715d;
      }

      .clss-417 {
        fill: #737168;
      }

      .clss-418 {
        fill: #7c765f;
      }

      .clss-419 {
        fill: #967074;
      }

      .clss-420 {
        fill: #87706a;
      }

      .clss-421 {
        fill: #946b70;
      }

      .clss-422 {
        fill: #8c797c;
      }

      .clss-423, .clss-425 {
        fill: #6d6958;
      }

      .clss-424 {
        fill: #746b4c;
      }

      .clss-426 {
        fill: #9f9534;
      }

      .clss-427 {
        fill: #90872b;
      }

      .clss-428 {
        fill: #807933;
      }

      .clss-429 {
        fill: #5c5745;
      }

      .clss-430 {
        fill: #6d6a42;
      }

      .clss-431 {
        fill: #5b572d;
      }

      .clss-432 {
        fill: #696115;
      }

      .clss-433 {
        fill: #6d7066;
      }

      .clss-434 {
        fill: #50556f;
      }

      .clss-435 {
        fill: #4c5983;
      }

      .clss-436 {
        fill: #5c678a;
      }

      .clss-437 {
        fill: #4c504e;
      }

      .clss-438 {
        fill: #462a29;
      }

      .clss-439 {
        fill: #4c5144;
      }

      .clss-440 {
        fill: #675e55;
      }

      .clss-441 {
        fill: #8e6270;
      }

      .clss-442 {
        fill: #805562;
      }

      .clss-443 {
        fill: #607a69;
      }

      .clss-444 {
        fill: #8d6367;
      }

      .clss-445 {
        fill: #6e6a55;
      }

      .clss-446 {
        fill: #676760;
      }

      .clss-447 {
        fill: #6e6a5a;
      }

      .clss-448 {
        fill: #80595b;
      }

      .clss-449, .clss-467 {
        fill: #6a6245;
      }

      .clss-450 {
        fill: #656153;
      }

      .clss-451 {
        fill: #4c4815;
      }

      .clss-452 {
        fill: #5a5410;
      }

      .clss-453 {
        fill: #606358;
      }

      .clss-454 {
        fill: #3d4a79;
      }

      .clss-455 {
        fill: #323e6c;
      }

      .clss-456 {
        fill: #353b46;
      }

      .clss-457, .clss-896 {
        fill: #918a4b;
      }

      .clss-458 {
        fill: #554d45;
      }

      .clss-459 {
        fill: #64414a;
      }

      .clss-460 {
        fill: #714c57;
      }

      .clss-462 {
        fill: #557564;
      }

      .clss-463 {
        fill: #605f51;
      }

      .clss-464 {
        fill: #724b4c;
      }

      .clss-465, .clss-477 {
        fill: #5f583a;
      }

      .clss-466 {
        fill: #5c594a;
      }

      .clss-468 {
        fill: #51554b;
      }

      .clss-469 {
        fill: #273159;
      }

      .clss-470 {
        fill: #212a46;
      }

      .clss-471 {
        fill: #50373b;
      }

      .clss-472 {
        fill: #4e6b5c;
      }

      .clss-473 {
        fill: #535347;
      }

      .clss-474 {
        fill: #4a4933;
      }

      .clss-475, .clss-476 {
        fill: #504f41;
      }

      .clss-478 {
        fill: #43473e;
      }

      .clss-479 {
        fill: #38523e;
      }

      .clss-480 {
        fill: #3e2b2d;
      }

      .clss-481 {
        fill: #474941;
      }

      .clss-482 {
        fill: #312222;
      }

      .clss-483 {
        fill: #3b3e34;
      }

      .clss-484, .clss-551 {
        fill: #a6a498;
      }

      .clss-486 {
        fill: #d8d4c8;
      }

      .clss-490, .clss-536 {
        fill: #c6bcac;
      }

      .clss-491 {
        fill: #d5cfc2;
      }

      .clss-492 {
        fill: #d0c9bd;
      }

      .clss-493, .clss-494 {
        fill: #d0c9b3;
      }

      .clss-495, .clss-504 {
        fill: #cfc8bd;
      }

      .clss-496 {
        fill: #d3cbbe;
      }

      .clss-497 {
        fill: #cec7b8;
      }

      .clss-498 {
        fill: #cec6ba;
      }

      .clss-499 {
        fill: #c5c0b2;
      }

      .clss-500 {
        fill: #c3bdaf;
      }

      .clss-501 {
        fill: #b8b3a8;
      }

      .clss-502 {
        fill: #b4b1a5;
      }

      .clss-503 {
        fill: #bdbbb1;
      }

      .clss-505, .clss-516 {
        fill: #ccc3b6;
      }

      .clss-506 {
        fill: #d1cabd;
      }

      .clss-507, .clss-513 {
        fill: #a4a293;
      }

      .clss-508 {
        fill: #aca79a;
      }

      .clss-509 {
        fill: #b1a99c;
      }

      .clss-510 {
        fill: #a19994;
      }

      .clss-511 {
        fill: #aba89a;
      }

      .clss-512 {
        fill: #a49a8d;
      }

      .clss-515 {
        fill: #a09d8c;
      }

      .clss-517 {
        fill: #ccc3a5;
      }

      .clss-518 {
        fill: #cbc5b9;
      }

      .clss-519, .clss-542 {
        fill: #c8c1b5;
      }

      .clss-520 {
        fill: #a39d7c;
      }

      .clss-521 {
        fill: #8e7b72;
      }

      .clss-523 {
        fill: #a09b8f;
      }

      .clss-524, .clss-529 {
        fill: #c1b79b;
      }

      .clss-525 {
        fill: #b6b3a6;
      }

      .clss-526 {
        fill: #bfb58a;
      }

      .clss-527 {
        fill: #c0b6a9;
      }

      .clss-528 {
        fill: #bcb5a7;
      }

      .clss-530 {
        fill: #dbd8cb;
      }

      .clss-531 {
        fill: #c7bfb2;
      }

      .clss-532 {
        fill: #c3c3bb;
      }

      .clss-533 {
        fill: #c6bdac;
      }

      .clss-534 {
        fill: #c7bfb3;
      }

      .clss-535 {
        fill: #c4baaa;
      }

      .clss-537 {
        fill: #d6d1c4;
      }

      .clss-538 {
        fill: #dad7c9;
      }

      .clss-539 {
        fill: #c7c099;
      }

      .clss-540 {
        fill: #cbc4a3;
      }

      .clss-541 {
        fill: #d7d4c7;
      }

      .clss-543 {
        fill: #c9c2b5;
      }

      .clss-544 {
        fill: #aeacab;
      }

      .clss-545 {
        fill: #afada3;
      }

      .clss-546 {
        fill: #adaaa2;
      }

      .clss-547 {
        fill: #ada996;
      }

      .clss-548 {
        fill: #c2b4a7;
      }

      .clss-549 {
        fill: #b6a49c;
      }

      .clss-550 {
        fill: #b6a797;
      }

      .clss-552 {
        fill: #b2ac9e;
      }

      .clss-553 {
        fill: #b8aea1;
      }

      .clss-554 {
        fill: #b19d8e;
      }

      .clss-555 {
        fill: #a9a094;
      }

      .clss-556 {
        fill: #ada297;
      }

      .clss-557 {
        fill: #978d82;
      }

      .clss-558 {
        fill: #978791;
      }

      .clss-559 {
        fill: #918a84;
      }

      .clss-560 {
        fill: #b1af9f;
      }

      .clss-561 {
        fill: #b0a89a;
      }

      .clss-562 {
        fill: #aa9082;
      }

      .clss-563 {
        fill: #a39485;
      }

      .clss-564 {
        fill: #c5bcac;
      }

      .clss-565 {
        fill: #c9bf91;
      }

      .clss-566 {
        fill: #9c9689;
      }

      .clss-567 {
        fill: #939388;
      }

      .clss-568 {
        fill: #9e9581;
      }

      .clss-569 {
        fill: #959081;
      }

      .clss-570 {
        fill: #918f82;
      }

      .clss-571 {
        fill: #969587;
      }

      .clss-572 {
        fill: #a9a26f;
      }

      .clss-573 {
        fill: #938b6a;
      }

      .clss-574 {
        fill: #817b6c;
      }

      .clss-575 {
        fill: #a59b53;
      }

      .clss-576 {
        fill: #9c9242;
      }

      .clss-577 {
        fill: #9c9782;
      }

      .clss-578 {
        fill: #918c77;
      }

      .clss-579 {
        fill: #9c9670;
      }

      .clss-580 {
        fill: #847d6c;
      }

      .clss-581 {
        fill: #a48a7f;
      }

      .clss-582 {
        fill: #906563;
      }

      .clss-583 {
        fill: #9f7673;
      }

      .clss-584 {
        fill: #938e80;
      }

      .clss-585 {
        fill: #878a79;
      }

      .clss-586 {
        fill: #8e866e;
      }

      .clss-587 {
        fill: #8e8874;
      }

      .clss-588 {
        fill: #918576;
      }

      .clss-589 {
        fill: #a59f92;
      }

      .clss-590 {
        fill: #9a9687;
      }

      .clss-591 {
        fill: #9e8f87;
      }

      .clss-592 {
        fill: #c3b97b;
      }

      .clss-593 {
        fill: #b7ab75;
      }

      .clss-594 {
        fill: #959185;
      }

      .clss-595 {
        fill: #8e8973;
      }

      .clss-596 {
        fill: #928c74;
      }

      .clss-597 {
        fill: #95927f;
      }

      .clss-598 {
        fill: #8f8b79;
      }

      .clss-599 {
        fill: #938472;
      }

      .clss-601 {
        fill: #8a786e;
      }

      .clss-602 {
        fill: #866665;
      }

      .clss-603 {
        fill: #84585c;
      }

      .clss-604 {
        fill: #6a4845;
      }

      .clss-605 {
        fill: #837d67;
      }

      .clss-606 {
        fill: #777159;
      }

      .clss-607 {
        fill: #7b7861;
      }

      .clss-608 {
        fill: #6e6a53;
      }

      .clss-609 {
        fill: #86826c;
      }

      .clss-610 {
        fill: #685854;
      }

      .clss-611 {
        fill: #847d65;
      }

      .clss-612 {
        fill: #807c60;
      }

      .clss-613 {
        fill: #717460;
      }

      .clss-614 {
        fill: #686958;
      }

      .clss-615 {
        fill: #7c7d66;
      }

      .clss-616 {
        fill: #636e6e;
      }

      .clss-617 {
        fill: #727c79;
      }

      .clss-618 {
        fill: #74584e;
      }

      .clss-619 {
        fill: #816d5f;
      }

      .clss-620 {
        fill: #434634;
      }

      .clss-621 {
        fill: #475154;
      }

      .clss-622 {
        fill: #515756;
      }

      .clss-623 {
        fill: #404846;
      }

      .clss-624 {
        fill: #50403d;
      }

      .clss-625 {
        fill: #58494a;
      }

      .clss-626 {
        fill: #331517;
      }

      .clss-627 {
        fill: #451c20;
      }

      .clss-628 {
        fill: #251e16;
      }

      .clss-629 {
        fill: #47302c;
      }

      .clss-630 {
        fill: #6d4140;
      }

      .clss-631 {
        fill: #583836;
      }

      .clss-632 {
        fill: #6c2f37;
      }

      .clss-633 {
        fill: #5b252c;
      }

      .clss-634 {
        fill: #bfb9ad;
      }

      .clss-635 {
        fill: #bab7ac;
      }

      .clss-636 {
        fill: #c1b6a8;
      }

      .clss-637 {
        fill: #c3bbaf;
      }

      .clss-638 {
        fill: #c0b5a5;
      }

      .clss-639 {
        fill: #c6bc82;
      }

      .clss-640 {
        fill: #bbb488;
      }

      .clss-641 {
        fill: #c1ba8f;
      }

      .clss-643 {
        fill: #b4ad8d;
      }

      .clss-645 {
        fill: #9e9fa5;
      }

      .clss-646 {
        fill: #a4a194;
      }

      .clss-647 {
        fill: #ab9e8e;
      }

      .clss-648 {
        fill: #9a9383;
      }

      .clss-649 {
        fill: #a5a182;
      }

      .clss-650 {
        fill: #b4988d;
      }

      .clss-651 {
        fill: #b9b4a5;
      }

      .clss-652 {
        fill: #a0978e;
      }

      .clss-653 {
        fill: #9c948a;
      }

      .clss-654 {
        fill: #a58975;
      }

      .clss-655 {
        fill: #897d71;
      }

      .clss-656 {
        fill: #9a887a;
      }

      .clss-657 {
        fill: #84787c;
      }

      .clss-658 {
        fill: #8f877f;
      }

      .clss-659 {
        fill: #b59c8a;
      }

      .clss-660 {
        fill: #9e8976;
      }

      .clss-661 {
        fill: #a39b89;
      }

      .clss-662 {
        fill: #a6a092;
      }

      .clss-663 {
        fill: #938c7b;
      }

      .clss-664 {
        fill: #87877c;
      }

      .clss-665 {
        fill: #888075;
      }

      .clss-666 {
        fill: #958674;
      }

      .clss-667 {
        fill: #b0a662;
      }

      .clss-668 {
        fill: #878052;
      }

      .clss-669 {
        fill: #767360;
      }

      .clss-670 {
        fill: #908634;
      }

      .clss-671 {
        fill: #81792d;
      }

      .clss-672 {
        fill: #9e9b8b;
      }

      .clss-673 {
        fill: #8d875d;
      }

      .clss-674 {
        fill: #858176;
      }

      .clss-675 {
        fill: #8f8b80;
      }

      .clss-676 {
        fill: #726f61;
      }

      .clss-677 {
        fill: #736c5b;
      }

      .clss-678 {
        fill: #777c72;
      }

      .clss-679 {
        fill: #845354;
      }

      .clss-680 {
        fill: #775c56;
      }

      .clss-681, .clss-792 {
        fill: #888478;
      }

      .clss-682 {
        fill: #94897d;
      }

      .clss-683 {
        fill: #a19081;
      }

      .clss-684 {
        fill: #747f6e;
      }

      .clss-685 {
        fill: #9e9c8c;
      }

      .clss-686 {
        fill: #878b9b;
      }

      .clss-687 {
        fill: #969382;
      }

      .clss-688 {
        fill: #908c7e;
      }

      .clss-689 {
        fill: #94897c;
      }

      .clss-690 {
        fill: #9c7d7c;
      }

      .clss-691 {
        fill: #90877b;
      }

      .clss-692, .clss-694 {
        fill: #c7bb68;
      }

      .clss-693 {
        fill: #b8ac5c;
      }

      .clss-695 {
        fill: #a8a48d;
      }

      .clss-696 {
        fill: #89836d;
      }

      .clss-697 {
        fill: #9a9781;
      }

      .clss-698 {
        fill: #8b8776;
      }

      .clss-699 {
        fill: #858063;
      }

      .clss-701 {
        fill: #938d7b;
      }

      .clss-702 {
        fill: #878068;
      }

      .clss-703 {
        fill: #864b54;
      }

      .clss-704 {
        fill: #79484c;
      }

      .clss-705 {
        fill: #7a353f;
      }

      .clss-706 {
        fill: #7f4049;
      }

      .clss-707 {
        fill: #967c66;
      }

      .clss-708 {
        fill: #896e58;
      }

      .clss-709 {
        fill: #6e6550;
      }

      .clss-710 {
        fill: #7e664e;
      }

      .clss-711 {
        fill: #615d47;
      }

      .clss-712 {
        fill: #4f5660;
      }

      .clss-713 {
        fill: #878268;
      }

      .clss-714 {
        fill: #89856a;
      }

      .clss-715 {
        fill: #807964;
      }

      .clss-716 {
        fill: #767362;
      }

      .clss-717 {
        fill: #87836f;
      }

      .clss-718 {
        fill: #7e7861;
      }

      .clss-719 {
        fill: #7e7c6c;
      }

      .clss-720 {
        fill: #90865e;
      }

      .clss-721 {
        fill: #7c785c;
      }

      .clss-722 {
        fill: #7a7453;
      }

      .clss-723 {
        fill: #7c765e;
      }

      .clss-724 {
        fill: #847945;
      }

      .clss-725 {
        fill: #86876f;
      }

      .clss-726 {
        fill: #6f6e54;
      }

      .clss-727 {
        fill: #626251;
      }

      .clss-728 {
        fill: #5e6450;
      }

      .clss-729 {
        fill: #868f8c;
      }

      .clss-730 {
        fill: #373b2d;
      }

      .clss-731 {
        fill: #383b3b;
      }

      .clss-732 {
        fill: #433130;
      }

      .clss-733 {
        fill: #3c4547;
      }

      .clss-734 {
        fill: #6e5e45;
      }

      .clss-735 {
        fill: #565240;
      }

      .clss-736 {
        fill: #605340;
      }

      .clss-737 {
        fill: #6b655d;
      }

      .clss-738 {
        fill: #1f0e0d;
      }

      .clss-739 {
        fill: #c3baac;
      }

      .clss-740 {
        fill: #c6bfb0;
      }

      .clss-741 {
        fill: #bfb573;
      }

      .clss-742 {
        fill: #b2ab74;
      }

      .clss-743 {
        fill: #bbb37e;
      }

      .clss-744 {
        fill: #b1aa75;
      }

      .clss-745 {
        fill: #aa9084;
      }

      .clss-746 {
        fill: #8d8c7e;
      }

      .clss-747 {
        fill: #91887f;
      }

      .clss-748 {
        fill: #a6937d;
      }

      .clss-749 {
        fill: #9c8971;
      }

      .clss-750 {
        fill: #878070;
      }

      .clss-751 {
        fill: #938f6c;
      }

      .clss-752 {
        fill: #918a81;
      }

      .clss-753 {
        fill: #9e816d;
      }

      .clss-754 {
        fill: #9c7d6f;
      }

      .clss-755 {
        fill: #8c715c;
      }

      .clss-756 {
        fill: #7b6d61;
      }

      .clss-757 {
        fill: #977768;
      }

      .clss-758 {
        fill: #947b69;
      }

      .clss-759 {
        fill: #786c72;
      }

      .clss-760 {
        fill: #76716b;
      }

      .clss-761 {
        fill: #807972;
      }

      .clss-762 {
        fill: #aba490;
      }

      .clss-763 {
        fill: #747269;
      }

      .clss-764 {
        fill: #7a6e63;
      }

      .clss-765 {
        fill: #9a9787;
      }

      .clss-766 {
        fill: #767463;
      }

      .clss-767 {
        fill: #716c44;
      }

      .clss-768 {
        fill: #8a8570;
      }

      .clss-769 {
        fill: #767070;
      }

      .clss-770 {
        fill: #60635c;
      }

      .clss-771 {
        fill: #655a4b;
      }

      .clss-772 {
        fill: #6f4243;
      }

      .clss-773 {
        fill: #807d73;
      }

      .clss-774 {
        fill: #8f7668;
      }

      .clss-775 {
        fill: #aa8e7a;
      }

      .clss-776 {
        fill: #aa9688;
      }

      .clss-777 {
        fill: #867768;
      }

      .clss-778 {
        fill: #647967;
      }

      .clss-779 {
        fill: #6e725f;
      }

      .clss-780 {
        fill: #aaa89b;
      }

      .clss-781 {
        fill: #a0897a;
      }

      .clss-782 {
        fill: #717995;
      }

      .clss-783 {
        fill: #887476;
      }

      .clss-784 {
        fill: #747a7d;
      }

      .clss-785 {
        fill: #948174;
      }

      .clss-786 {
        fill: #888372;
      }

      .clss-787 {
        fill: #7f7b6a;
      }

      .clss-788 {
        fill: #999689;
      }

      .clss-789 {
        fill: #868276;
      }

      .clss-790 {
        fill: #918361;
      }

      .clss-791 {
        fill: #898475;
      }

      .clss-793 {
        fill: #946d70;
      }

      .clss-794 {
        fill: #84776e;
      }

      .clss-795 {
        fill: #c9bb57;
      }

      .clss-796 {
        fill: #c6b846;
      }

      .clss-797 {
        fill: #b4a844;
      }

      .clss-798 {
        fill: #9c9979;
      }

      .clss-800 {
        fill: #747457;
      }

      .clss-801 {
        fill: #89846a;
      }

      .clss-802 {
        fill: #8c404d;
      }

      .clss-803 {
        fill: #745b45;
      }

      .clss-804 {
        fill: #6d6255;
      }

      .clss-805 {
        fill: #5d4e36;
      }

      .clss-806 {
        fill: #6c543d;
      }

      .clss-807 {
        fill: #89856e;
      }

      .clss-808 {
        fill: #756f5b;
      }

      .clss-809 {
        fill: #78745c;
      }

      .clss-810 {
        fill: #726e5b;
      }

      .clss-811 {
        fill: #6b685b;
      }

      .clss-812 {
        fill: #757156;
      }

      .clss-813 {
        fill: #7d6f53;
      }

      .clss-814 {
        fill: #87795e;
      }

      .clss-815 {
        fill: #806e56;
      }

      .clss-816 {
        fill: #7e7267;
      }

      .clss-817 {
        fill: #706b47;
      }

      .clss-818 {
        fill: #756a32;
      }

      .clss-819 {
        fill: #919179;
      }

      .clss-820 {
        fill: #95998a;
      }

      .clss-821 {
        fill: #9ca29d;
      }

      .clss-822 {
        fill: #2b2e2c;
      }

      .clss-823 {
        fill: #362724;
      }

      .clss-824 {
        fill: #2f383a;
      }

      .clss-825 {
        fill: #6c684d;
      }

      .clss-826 {
        fill: #63543c;
      }

      .clss-827 {
        fill: #626147;
      }

      .clss-828 {
        fill: #77664c;
      }

      .clss-829 {
        fill: #524738;
      }

      .clss-830 {
        fill: #594d37;
      }

      .clss-831 {
        fill: #77684d;
      }

      .clss-832 {
        fill: #b3aa63;
      }

      .clss-833 {
        fill: #b1a96f;
      }

      .clss-834 {
        fill: #ada563;
      }

      .clss-835 {
        fill: #a29a5c;
      }

      .clss-836 {
        fill: #817f74;
      }

      .clss-837 {
        fill: #8c7b62;
      }

      .clss-838 {
        fill: #736854;
      }

      .clss-839 {
        fill: #86835f;
      }

      .clss-840 {
        fill: #806750;
      }

      .clss-841 {
        fill: #7b6654;
      }

      .clss-842 {
        fill: #756b63;
      }

      .clss-843 {
        fill: #6d6358;
      }

      .clss-844 {
        fill: #66615d;
      }

      .clss-845 {
        fill: #585451;
      }

      .clss-846 {
        fill: #67625d;
      }

      .clss-847 {
        fill: #725c4a;
      }

      .clss-848 {
        fill: #655e60;
      }

      .clss-849 {
        fill: #5c594e;
      }

      .clss-850 {
        fill: #595746;
      }

      .clss-851 {
        fill: #4f4b30;
      }

      .clss-852 {
        fill: #585751;
      }

      .clss-853 {
        fill: #4c504c;
      }

      .clss-854 {
        fill: #5c4c40;
      }

      .clss-855 {
        fill: #5b3535;
      }

      .clss-856 {
        fill: #716e68;
      }

      .clss-857 {
        fill: #7a7267;
      }

      .clss-858 {
        fill: #767468;
      }

      .clss-859 {
        fill: #817a6c;
      }

      .clss-860 {
        fill: #7f6555;
      }

      .clss-861 {
        fill: #847060;
      }

      .clss-862 {
        fill: #8c6352;
      }

      .clss-863 {
        fill: #b79b88;
      }

      .clss-864 {
        fill: #c0a492;
      }

      .clss-865 {
        fill: #5b6f5c;
      }

      .clss-866 {
        fill: #5e6682;
      }

      .clss-867 {
        fill: #736e5e;
      }

      .clss-868 {
        fill: #626869;
      }

      .clss-869 {
        fill: #817368;
      }

      .clss-870 {
        fill: #87774f;
      }

      .clss-871 {
        fill: #895c62;
      }

      .clss-872 {
        fill: #76675e;
      }

      .clss-873 {
        fill: #bcaf3b;
      }

      .clss-874 {
        fill: #908b5e;
      }

      .clss-875 {
        fill: #686949;
      }

      .clss-876 {
        fill: #65625e;
      }

      .clss-877 {
        fill: #565251;
      }

      .clss-878 {
        fill: #574831;
      }

      .clss-879 {
        fill: #454f40;
      }

      .clss-880 {
        fill: #565943;
      }

      .clss-881 {
        fill: #433e2b;
      }

      .clss-882 {
        fill: #3d3a3c;
      }

      .clss-883 {
        fill: #8d8971;
      }

      .clss-884 {
        fill: #938f7a;
      }

      .clss-885 {
        fill: #6b6654;
      }

      .clss-886 {
        fill: #6c6850;
      }

      .clss-887 {
        fill: #5d5b51;
      }

      .clss-888 {
        fill: #726d52;
      }

      .clss-889 {
        fill: #8a785f;
      }

      .clss-890 {
        fill: #8f816a;
      }

      .clss-891 {
        fill: #655f30;
      }

      .clss-892 {
        fill: #272e23;
      }

      .clss-893 {
        fill: #2a1f1d;
      }

      .clss-894 {
        fill: #5e5b3f;
      }

      .clss-895 {
        fill: #49422f;
      }

      .clss-897 {
        fill: #747366;
      }

      .clss-898 {
        fill: #665947;
      }

      .clss-899 {
        fill: #69685e;
      }

      .clss-900 {
        fill: #685a4a;
      }

      .clss-901 {
        fill: #645041;
      }

      .clss-902 {
        fill: #4c4847;
      }

      .clss-903 {
        fill: #4a4539;
      }

      .clss-904 {
        fill: #4c4a48;
      }

      .clss-905 {
        fill: #555055;
      }

      .clss-906 {
        fill: #4c4a44;
      }

      .clss-907 {
        fill: #4a4149;
      }

      .clss-908 {
        fill: #48463e;
      }

      .clss-909 {
        fill: #3c3b31;
      }

      .clss-910 {
        fill: #4a4846;
      }

      .clss-911 {
        fill: #3c3f3e;
      }

      .clss-912 {
        fill: #533d34;
      }

      .clss-913 {
        fill: #472925;
      }

      .clss-914 {
        fill: #6e665a;
      }

      .clss-915 {
        fill: #736f61;
      }

      .clss-916 {
        fill: #835442;
      }

      .clss-917 {
        fill: #725244;
      }

      .clss-918 {
        fill: #c7ad9d;
      }

      .clss-919 {
        fill: #4d6551;
      }

      .clss-920 {
        fill: #646050;
      }

      .clss-921 {
        fill: #48526d;
      }

      .clss-922 {
        fill: #70635b;
      }

      .clss-923 {
        fill: #6f685b;
      }

      .clss-924 {
        fill: #7c6b40;
      }

      .clss-925 {
        fill: #7b4e53;
      }

      .clss-926 {
        fill: #68514d;
      }

      .clss-927 {
        fill: #838049;
      }

      .clss-928 {
        fill: #615c51;
      }

      .clss-929 {
        fill: #524e45;
      }

      .clss-930 {
        fill: #43403d;
      }

      .clss-931 {
        fill: #33443b;
      }

      .clss-932 {
        fill: #46472e;
      }

      .clss-933 {
        fill: #525039;
      }

      .clss-934 {
        fill: #535239;
      }

      .clss-935 {
        fill: #353523;
      }

      .clss-936 {
        fill: #353333;
      }

      .clss-937 {
        fill: #615e48;
      }

      .clss-938 {
        fill: #504e45;
      }

      .clss-939 {
        fill: #9f8c75;
      }

      .clss-940 {
        fill: #1c231d;
      }

      .clss-941 {
        fill: #403928;
      }

      .clss-942 {
        fill: #7c7937;
      }

      .clss-943 {
        fill: #54544a;
      }

      .clss-944 {
        fill: #5a544e;
      }

      .clss-945 {
        fill: #594638;
      }

      .clss-946 {
        fill: #413834;
      }

      .clss-947 {
        fill: #444140;
      }

      .clss-948 {
        fill: #4a4645;
      }

      .clss-949 {
        fill: #393a30;
      }

      .clss-950 {
        fill: #45453d;
      }

      .clss-951 {
        fill: #3b3a3a;
      }

      .clss-952 {
        fill: #3d3730;
      }

      .clss-953 {
        fill: #3c353d;
      }

      .clss-954 {
        fill: #444436;
      }

      .clss-955 {
        fill: #272828;
      }

      .clss-956 {
        fill: #2f2d30;
      }

      .clss-957 {
        fill: #303232;
      }

      .clss-958 {
        fill: #393a37;
      }

      .clss-959 {
        fill: #363534;
      }

      .clss-960 {
        fill: #361917;
      }

      .clss-961 {
        fill: #804734;
      }

      .clss-962 {
        fill: #6f4030;
      }

      .clss-963 {
        fill: #425c47;
      }

      .clss-964 {
        fill: #565343;
      }

      .clss-965 {
        fill: #3e475a;
      }

      .clss-966 {
        fill: #705b28;
      }

      .clss-967 {
        fill: #653e41;
      }

      .clss-968 {
        fill: #49463a;
      }

      .clss-969 {
        fill: #5b4a1f;
      }

      .clss-970 {
        fill: #3e3f28;
      }

      .clss-971 {
        fill: #253934;
      }

      .clss-972 {
        fill: #47462f;
      }

      .clss-973 {
        fill: #2d2e1c;
      }

      .clss-974 {
        fill: #282628;
      }

      .clss-975 {
        fill: #202d27;
      }

      .clss-976 {
        fill: #323026;
      }

      .clss-977 {
        fill: #3d3b2f;
      }

      .clss-978 {
        fill: #706d28;
      }

      .clss-979 {
        fill: #42403c;
      }

      .clss-980 {
        fill: #504a41;
      }

      .clss-981 {
        fill: #2e2d2e;
      }

      .clss-982 {
        fill: #322a29;
      }

      .clss-983 {
        fill: #323233;
      }

      .clss-984 {
        fill: #30302c;
      }

      .clss-985 {
        fill: #2e2e26;
      }

      .clss-986 {
        fill: #35362f;
      }

      .clss-987 {
        fill: #1e1e21;
      }

      .clss-988 {
        fill: #232022;
      }

      .clss-989 {
        fill: #2c2d24;
      }

      .clss-990 {
        fill: #414038;
      }

      .clss-991 {
        fill: #2f394a;
      }

      .clss-992 {
        fill: #563436;
      }

      .clss-993 {
        fill: #403b36;
      }

      .clss-994 {
        fill: #483813;
      }

      .clss-995 {
        fill: #34351d;
      }

      .clss-996 {
        fill: #272919;
      }

      .clss-997 {
        fill: #222318;
      }

      .clss-998 {
        fill: #1a1a20;
      }

      .clss-999 {
        fill: #1c1b18;
      }

      .clss-1000 {
        fill: #2f2710;
      }

      .clss-1001 {
        fill: #212022;
      }

      .clss-1002 {
        fill: #20211f;
      }

      .clss-1003 {
        fill: #2f2a2b;
      }

      .clss-1004 {
        fill: #16171c;
      }

      .clss-1005 {
        fill: #191b17;
      }

      .clss-1006 {
        fill: #292d2d;
      }

      .clss-1007 {
        fill: #0f0f18;
      }

      .clss-1008 {
        fill: #19160f;
      }

      .clss-1009 {
        fill: #24211f;
      }

      .clss-1010 {
        fill: #121315;
      }

      .clss-1011 {
        fill: #1d1d1c;
      }

      .clss-1012 {
        fill: #0c0d15;
      }

      .clss-1013 {
        fill: #12121b;
      }

      .clss-1014 {
        fill: #0b0c15;
      }

      .clss-1015 {
        fill: #0f0e0d;
      }

      .clss-1016 {
        fill: #08090e;
      }

      .clss-1017 {
        fill: #090b12;
      }

      .clss-1018 {
        fill: #07080d;
      }

      .clss-1019 {
        fill: #06070c;
      }

      .clss-1020 {
        fill: #07080c;
      }

      .clss-1021 {
        fill: #030407;
      }

      .clss-1022 {
        fill: #040507;
      }
